<!DOCTYPE html>
<!-- HTML5 Hello world by kirupa - http://www.kirupa.com/html5/getting_your_feet_wet_html5_pg1.htm -->
<html lang="en-us">
{% load static from staticfiles %}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="{% static "static_root/style.css" %}" rel="stylesheet">
    <script src="scripts.js"></script>
    <title>Med Home</title>
</head>
<body>
    <div id ="Main">
        <!-- Este es el div principal -->
        <div id="Header" class="mainDivs">
            <h1>Med App</h1>
        </div>
        
        <div id="Add" class="mainDivs">
            <!-- Aqui va un comboBox -->
            Elements:
            <input id="EList" list="elements">
              <datalist id="elements">
                  
              </datalist> 
              
            <!-- Aqui va un textbox -->
            Quantity: <input type="number" id="Quant">
                                
            <!-- Aqui va un boton -->
            <button id="AddButton" class="buttonStyle"> Add </button>
        </div>
        
        <div id="Cart" class="mainDivs">
            <!-- Aqui va el titulo -->
            <h1 margin="auto">Lista de medicinas:</h1>
            <!-- Aqui va la lista -->
            
            <div class="clear">
            {% if medicina %}
                {% for medicina in medicina %}
                    <div class="medicina">
                        <div class="name">

                            <h1> <a href="{% url "fredy" medicina.slug %}">{{ medicina.slug }}</a> </h1> 
                            </div>
                    </div>
                    {% endfor %}
            {% endif %}
        </div>
        </div>
        <!-- The clear div for floating divs -->
    </div>
</body>
</html>
